<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="test.js"></script>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <link type="text/css" rel="stylesheet" href="./app.css" />
        <div>
            <p class="hover" ng-mouseover="sa=true" ng-init="sa=true"> hover here</p>
        </div>
        <div ng-show="sa" class="optionsMenu">
            <table>
                <tr>
                    <th> Time offset </th>
                    <th>
                        <input type="text" ng-model="timeOffset">
                    </th>
                </tr>
                <tr>
                    <th> position offset </th>
                    <th>
                        <input type="text" ng-model="posOffset">
                    </th>
                </tr>
                <tr>
                    <th> cutoff </th>
                    <th>
                        <input type="text" ng-model="cutoff">
                    </th>
                </tr>
                <tr>
                    <th> link words </th>
                    <th> <input type="text" ng-model="linkWords"> </th>
                </tr>
                <tr>
                    <th> breath length </th>
                    <th> <input type="text" ng-model="breathLength"> </th>
                </tr>
                <tr>
                    <th> slow corners </th>
                    <th> <input type="text" ng-model="slowCorners"> </th>
                </tr>
                <tr>
                    <th> codriver </th>
                    <th> <input type="text" ng-model="codriver"> </th>
                </tr>
                <tr>
                    <th>
                        volume
                    </th>
                    <th>
                        <input type="range" name="range"
                        ng-model="volume" min="0"  max="12">
                        {{volume}}
                    </th>
                </tr>
                <tr>
                    <th> recce mode </th>
                    <th> <input type="checkbox" ng-model="recce"> </th>
                </tr>
                <tr>
                    <th> hide markers </th>
                    <th> <input type="checkbox" ng-model="hideMarkers"> </th>
                </tr>
                <tr>
                    <th> symbols </th>
                    <th> <input type="checkbox" ng-model="visual"> </th>
                </tr>
                <tr>
                    <th>
                        <button ng-click="sa=false"> dump rally </button>
                    </th>
                </tr>
                <tr> <th>
                        <button ng-click="sa=false">
                            hide options
                        </button>
                    </th> </tr>
            </table>
        </div>
    </div>
</body>
