<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="./test.js"></script>
<style>
body {
    background-image: url('bg.png');
}
</style>

<body ng-app="myApp" ng-controller="myCtrl">
    <link type="text/css" rel="stylesheet" href="./app.css" />

        <div  style="background-image: './bg.png';">
            <table ng-repeat="item in pics track by $index"
                   ng-show="visual"
                   style="border:0px solid black; margin-left:auto; margin-right:auto;">
                <tr>
                    <th ng-repeat="x in item track by $index", style="padding:{{icon_pad}}">
                        <img  class="hhh" src="{{x}}" alt="{{x}}" style="height:{{icon_size}}";>
                    </th>
                </tr>
            </table>
            <p class="hover" ng-mouseover="sa=true" ng-init="sa=false"> hover </p>
        </div>

        <div ng-show="sa" class="optionsMenu">
            <table>
                <tr>
                    <th> Time offset </th>
                    <th> <input type="text" ng-model="timeOffset"> </th>
                </tr>
                <tr>
                    <th> position offset </th>
                    <th> <input type="text" ng-model="posOffset"> </th>
                </tr>
                <tr>
                    <th> cutoff </th>
                    <th> <input type="text" ng-model="cutoff"> </th>
                </tr>
                <tr>
                    <th> link words </th>
                    <th> <input type="text" ng-model="linkWords"> </th>
                </tr>
                <tr>
                    <th> breath length </th>
                    <th> <input type="text" ng-model="breathLength"> </th>
                </tr>
                <tr>
                    <th> slow corners </th>
                    <th> <input type="text" ng-model="slowCorners"> </th>
                </tr>
                <tr>
                    <th> codriver </th>
                    <th> <input type="text" ng-model="codriver"> </th>
                </tr>
                <tr>
                    <th> volume </th>
                    <th> <input type="text" ng-model="volume"> </th>
                </tr>
                <tr>
                    <th> recce mode </th>
                    <th> <input type="checkbox" ng-model="recce"> </th>
                </tr>
                <tr>
                    <th> hide markers </th>
                    <th> <input type="checkbox" ng-model="hideMarkers"> </th>
                </tr>
                <tr>
                    <th> show visual pacenotes </th>
                    <th> <input type="checkbox" ng-model="visual"> </th>
                </tr>
                <tr>
                    <th> <button ng-click=""> dump rally </button> </th>
                </tr>
                <tr>
                    <th> <button ng-click="sa=false"> hide options {{sa}} </button> </th>
                </tr>
                </tr>
                <label>icon size
                    <input type="number" name="input" ng-model="icon_size"
                                                      min="50" max="300" required>
                </label>
                <tr>
                </tr>
                <label>icon padding
                    <input type="number" name="input" ng-model="icon_pad"
                                                      min="0" max="100" required>
                </label>
                <tr>
            </table>
        </div>
</body>
